{% extends "base.html" %}

{% block content %}
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #242424;
    position: sticky;
    top:0;
  }
  li {
    float: left;
  }
  li a {
    display: inline-block;
    color: aliceblue;
    text-align: left;
    padding: 14px 16px;
  }
  li a:hover {
    background-color: #1ccf00;
  }
  .active {
    background-color: #118100;
  }
</style>

<nav class = "navbar">
  <ul>
    <li><a href="{{url_for('index.index')}}">Home</a></li>
      <li><a href="{{ url_for('products.shelf') }}">Products</a></li>
    <li><a class="active" href="{{ url_for('cart.items') }}">User Cart</a></li>
  </ul>
</nav>

<br><br>
<form action="" method="post">
  {{ cform.hidden_tag() }}
  <p>
    {{ cform.uid.label }}
    {{ cform.uid(type="number", min="0", max="10000") }}
    {{ cform.submit(class_="btn btn-black") }}
  </p>

</form>

<br>

<h2>Cart:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
        <th scope="col">User ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Amount of Item</th>
        <th scope="col">Modify</th>

    </tr>
  </thead>
  <tbody>
    {% for cart in user_cart%}
      <tr>
      <td>{{cart.uid}}</td>
        <td>{{cart.pid}}</td>
          <td>{{cart.pname}}</td>
        <td>{{cart.sid}}</td>
        <td>{{cart.num_item}}</td>
      <td>
        <form method="post" >
  <button type="submit">Delete</button>
</form>
      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}