{% extends "base.html" %}

{% block content %}

<form action="" method="post">
  {{ cform.hidden_tag() }}
  <p>
    {{ cform.uid.label }}
    {{ cform.uid(type="number", min="0", max="10000") }}
    {{ cform.submit(class_="btn btn-black") }}
  </p>

</form>

<br>

<h2>Cart:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
        <th scope="col">User ID</th>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Quantity</th>
        <th scope="col">Edit Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Modify</th>

    </tr>
  </thead>
  <tbody>
    {% for cart in user_cart%}
      <tr>
      <td>{{cart.uid}}</td>
        <td>{{cart.pid}}</td>
          <td>{{cart.pname}}</td>
        <td>{{cart.sid}}</td>
        <td>{{cart.num_item}}</td>
          <td><form method="post" action="{{ url_for('cart.edit_num',pid=cart.pid) }}" >
              <input id="number" type="number" name="quantity" value=“0” />
              <input type="submit"></form>
          </td>
          <td>${{cart.price}}</td>
          <td>{% set subtotal = cart.num_item * cart.price %}
          ${{ subtotal }}</td>
      <td>
        <form method="post" action="{{ url_for('cart.remove',pid=cart.pid) }}">
  <button type="submit">Delete</button>
</form>
      </td>
      </tr>
    {% endfor %}
  </tbody>

<h2>Cart Total:</h2>
<br><br>

{% endblock %}

