{% extends "base.html" %}

{% block content %}

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #242424;
        position: sticky;
        top: 0;
    }

    li {
        float: left;
    }

    li a {
        display: inline-block;
        color: aliceblue;
        text-align: left;
        padding: 14px 16px;
    }

    li a:hover {
        background-color: #1ccf00;
    }

    .active {
        background-color: #118100;
    }
</style>
<nav class="navbar">
    <ul>
        <li><a href="{{url_for('index.index')}}">Home</a></li>
        <li><a href="{{ url_for('products.shelf') }}">Products</a></li>
        <li><a href="{{ url_for('purchases.yourPurchases') }}">Your Purchases</a></li>
    </ul>
</nav>

<br><br>
<h1>Change Email Address</h1>
<form action="" method="post">
    {{ eForm.hidden_tag() }}
    <p>
        {{ eForm.new_email.label }}<br />
        {{ eForm.new_email(size=32) }}<br />
        {% for error in eForm.new_email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ eForm.submit() }}</p>
</form>

{% endblock %}