{% extends "base.html" %}

{% block content %}

<br><br>
<h1>Change Password</h1>
<form action="" method="post">
    {{ pwForm.hidden_tag() }}
    <p>
        {{ pwForm.new_password.label }}<br />
        {{ pwForm.new_password(size=32) }}<br />
        {% for error in pwForm.new_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ pwForm.new_password2.label }}<br />
        {{ pwForm.new_password2(size=32) }}<br />
        {% for error in pwForm.new_password2.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color: red;">[{{ message }}]</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </p>
    <br>
    <p>{{ pwForm.submit() }}</p>
</form>

{% endblock %}