{% extends "base.html" %}

{% block content %}

<form action="{{url_for('products.editReview', productid=productid)}}" method="post">
  {{ editform.hidden_tag() }}
  <p>
    {{ editform.text.label }}
    {{ editform.text(type = "string") }}
    {{ editform.val.label }}
    {{ editform.val(type="number") }}
    {{ editform.submit(class_="btn btn-black") }}
  </p>
</form> 

<form action="{{url_for('products.editReview', productid=productid)}}" method="post">
    {{ removeform.hidden_tag() }}
    {{ removeform.submit(class_="btn btn-black") }}
</form>

<br><br>
<section>

</section>
<br>



<br><br>


{% endblock %}