{% extends "base.html" %}

{% block content %}
<form action="" method="post">
  {{ iform.hidden_tag() }}
  <p>
    {{ iform.sid.label }}
    {{ iform.sid(type="number", min="1", max="10000") }}
    {{ iform.submit(class_="btn btn-black") }}
  </p>

</form>

<br>

<h2>Inventory:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User/Seller ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Num Items</th>
        <th scope="col">Modify</th>
    </tr>
  </thead>
  <tbody>
    {% for inv in user_inventory%}
      <tr>
        <th scope="row">{{inv.sid}}</th>
        <td>{{inv.pid}}</td>
        <td>{{inv.invNum}}</td>
      <td>
        <form method="post" action="{{ url_for('inventory.remove',pid=inv.pid) }}">
  <button type="submit">Delete</button>
</form>
      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}