{% extends "base.html" %}

{% block content %}

{%  if current_user.is_authenticated %}

<h2 style="font-size:300%; background-color:#242424; color:aliceblue; text-align: center;" >Order Confirmation</h2>
    </h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>

        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Subtotal</th>
        <th scope="col">Fullfillment Status</th>


    </tr>
  </thead>
  <tbody>
    {% for o in order%}
      <tr>

        <td>{{o.pid}}</td>
          <td>{{o.pname}}</td>
        <td>{{o.sid}}</td>
        <td>{{o.num_item}}</td>
          
          <td>${{o.price}}</td>
          <td>
          ${{ o.subtotal }}</td>
      
      </tr>
    {% endfor %}
  </tbody>

  <h2 style="text-align: center;" >Grant total: {{ total }}</h2>
  <form method="post"  action="{{ url_for('cart.submit_cart') }}">
    <button id="button1" type="submit">Place Order</button>
    </form>
<form method="post" action="{{ url_for('cart.items') }}">
    <button id="button1" type="submit">Return to Cart</button>
  </form></table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to view your cart!</p>

    <br><br>
{% endif %}
{% endblock %}

