{% extends "base.html" %}

{% block content %}
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #242424;
    position: sticky;
    top:0;
  }
  li {
    float: left;
  }
  li a {
    display: inline-block;
    color: aliceblue;
    text-align: left;
    padding: 14px 16px;
  }
  li a:hover {
    background-color: #1ccf00;
  }
  .active {
    background-color: #118100;
  }
</style>

<br>
<nav class = "navbar">
  <ul>
    <li><a href="{{url_for('index.index')}}">Home</a></li>
    <li><a class="active" href="{{ url_for('products.shelf') }}">Products</a></li>
  </ul>
</nav>


<br>
<div style="display:flex; width:fit-content;">
  <b style="font-size:250%; background-color:#242424; color:aliceblue; padding:10px;">{{product.name}}</b>
  <p style="font-size:250%; background-color:slategray; color:aliceblue; padding:10px;">{{product.price}}</p>
</div>
<br>
<div style="display:inline-flex; width:fit-content;">
  <section class="image" style="padding-left: 20px;">
    <img src={{product.image}} alt="Product Image" align="left">
  </section>
  <p style="padding-left: 10px;">
    <b>Description:</b><br>
    {{product.des}}
  </p>
</div>



<form action="" method="post">
  {{ form.hidden_tag() }}
  <br><br>
  <p>
    {{ form.text.label }}
    {{ form.text(type = "string") }}
    {{ form.val.label }}
    {{ form.val(type="number") }}
    {{ form.submit(class_="btn btn-black") }}
  </p>
</form> 

<h3>Average Rating: {{avgreview}}, Number of Ratings: {{numreview}} </h3> 

<h2>Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Product ID</th>
      <th scope="col">Review Time</th>
      <th scope="col">Text</th>
      <th scope="col">Rating</th>
      <th scope="col"> </th>
      
    </tr>
  </thead>
  <tbody>
    {% for review in reviews%}
      <tr>
        <th scope="row">{{review.pid}}</th>
        <td>{{review.uid}}</td>
        <td>{{review.time_purchased}}</td>
        <td>{{review.text}}</td>
        <td>{{review.rating}}</td>
        <td>  
          {% if current_user.is_authenticated and review.pid|string == current_user.get_id()%}
          <a href= "{{ url_for('products.editReview', productid=pid) }}" class="btn btn-primary">Edit Review</a>  
          {% endif %}                
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Inventory Quantity</th>
      <th scope="col">Add</th>

    </tr>
  </thead>
  <tbody>
    {% for seller in sellers%}
      <tr>
        <th scope="row">{{seller.sid}}</th>
        <td>{{seller.invNum}}</td>
        <td>
          <a href= "{{ url_for('products.productDetails', productid=product.id) }}" class="btn btn-primary">Add to Cart</a> 
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>



<br><br>


{% endblock %}