{% extends "base.html" %}

{% block content %}

<br><br>

<br>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.k.label }}
        {{ form.k(type="number") }}
        {{ form.submit(class_="btn btn-black") }}
    </p>
</form>

{% if current_user.is_authenticated and form.validate_on_submit() %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Purchase ID</th>
            <th scope="col">Product ID</th>
            <th scope="col">Date Purchased</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchase_history%}
        <tr>
            <th scope="row">{{purchase.id}}</th>
            <td>{{purchase.pid}}</td>
            <td>{{purchase.time_purchased}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}